<p>{{ text }}</p>
<p>This is an example component using fractal.build and handlebars markup</p>
<p>This uses the <b>right-arrow</b> component as a child component:</p>
<div>{{> @color-arrow--red-right }}</div>
