<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ path '/css/global.css' }}">
    <title>Example Project</title>
</head>
<body>

{{{ yield }}}

</body>
</html>
